<% content_for :page_title, "Hostel Expsense Management System"%>
<div class="row" align="center">
	<div class="col-md-12"><h1 style="color: #3D989A;">Hostel Management System</h1></div>
	<div class="col-md-12">
	   <p style="color:#2C7479;">
		Skolaro School and college hostel management system is an important tool to maintain all the records for day scholars or hostellers. With an existing system, it’s difficult to manage hostel details as a lot of staff required and all is done is paperwork, which can take a lot of time and there is no security for the records.

        But with the introduction of Hostel Management Software in ERP, it becomes easier for school/ colleges to maintain data with full security in the single window only and no overwriting done for rooms once allotted. Easily records are maintained, which reduces paperwork, minimal staff involvement and less time required.
	   </p>
    </div>
    </div>
<img src="https://www.skolaro.com/wp-content/uploads/2017/06/48.jpg" width="100%">
<img src="https://www.skolaro.com/wp-content/uploads/2017/06/49.jpg" style="width: 100%;">